[user]
	name = Radu Toader
	email = radu.m.toader@gmail.com
[credential]
	helper = store
[alias]
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    update  = "!git fetch --all;git fetch -p; git fetch --tags ; git up"
    pushup = "!git up;git push"
	cm = commit
	cp = cherry-pick
	st = status
    	ci = commit
    	co = checkout
    	br = branch
    	unstage = reset HEAD --
	last = log -1 HEAD
	slog = log --oneline --abbrev-commit --graph --decorate
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	llg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --numstat
	lls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --stat
	ll = log --pretty=format:%C(yellow)%h%C(auto)%d\\ %Creset%s%Cblue\\ [%cn] --decorate --numstat
	ld = log --pretty=format:%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short --graph
    	ls = log --pretty=format:%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=relative
	ign = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
    word-diff= diff --word-diff
    wd = diff --word-diff
[diff]
	tool = vimdiff
[merge]
	tool = kdiff3
[difftool]
	prompt = false
[pull]
	rebase = true
[push]
	default = current
[help]
	autocorrect = 1
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	showbranch = 3
[color "status"]
	branch = green
	nobranch = red
	header =
	added = green
	changed = blue
	untracked = cyan
	updated = yellow
[color "branch"]
	local = cyan
	remote = yellow
	current = ul
[color "decorate"]

[branch]
	autosetuprebase = always
[core]
	excludesfile = ~/.gitignore
    autocrlf = input
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[git-up "fetch"]
    prune = true
    all = true
[status]
	submoduleSummary = true
