[user]
	name = Radu Toader
	email = radu.m.toader@gmail.com
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[alias]
    addcom = "!git add --all ;git commit --reuse-message=HEAD"
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    update  = "!git fetch --all; git fetch --tags ; git up"
    pushup = "!git up;git push"
	cm = commit
	cp = cherry-pick 
	st = status
    ci = commit
    co = checkout
    br = branch
    unstage = reset HEAD --
	last = log -1 HEAD
    lgt = log --graph --all --decorate --oneline --simplify-by-decoration
    lasttag = "!git describe --tags $(git rev-list --tags --max-count=1)"
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    blg = log --color --graph --pretty=format:'%Cred%H%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit	
	llg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --numstat 
	bllg = log --color --graph --pretty=format:'%Cred%H%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --numstat 	
    tagmerged = "!git log --tags --simplify-by-decoration --pretty='format:%Cgreen%ci%Creset %C(auto)%d%Creset' --color | sort"
    taghistory = "!git tag | while read t; do b=`git merge-base HEAD $t`; echo `git log -n 1 $b --format=%ai` $t; done | sort"
	lls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --stat
	ll = log --pretty=format:%C(yellow)%h%C(auto)%d\\ %Creset%s%Cblue\\ [%cn] --decorate --numstat 
	ld = log --pretty=format:%C(yellow)%h\\ %C(green)%ci%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short --graph 
    ls = log --pretty=format:%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=relative 
	ign = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[diff]
	tool = vimdiff
[merge]
	tool = kdiff3
[difftool]
	prompt = false
[pull]
	rebase = true
[push]
	default = current
[help]
	autocorrect = 1
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	showbranch = 3
[color "status"]
	branch = green
	nobranch = red
	header =
	added = green
	changed = blue
	untracked = cyan
	updated = yellow
[color "branch"]
	local = cyan
	remote = yellow
	current = ul
[color "decorate"]
	
[branch]
	autosetuprebase = always
[core]
	excludesfile = ~/.gitignore
    pager = tr -d '\\r' | less -REX
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[status]
	submoduleSummary = true
